In [8]:
import psycopg2
import sqlalchemy
import pandas as pd

In [9]:
conn = psycopg2.connect(host='localhost', dbname='spotify', user='postgres', password='password')
cursor = conn.cursor()
cursor.execute("SELECT * FROM album;")
albums = cursor.fetchall()
cursor.close()

In [10]:
albums_df = pd.DataFrame(list(albums))
albums_df.head()

                 0              1     2
0         Dua Lipa       Dua Lipa  2017
1      Yours Truly  Ariana Grande  2013
2    My Everything  Ariana Grande  2014
3  Dangerous Woman  Ariana Grande  2016
4        Sweetener  Ariana Grande  2018