# Desafío - Gráficos

## Desafío 1. Genere una submuestra de casos

In [18]:
import pandas as pd
df = pd.read_csv('qog_std_cs_jan18.csv')
df_sample = df.sample(frac=0.5, random_state=5526)
df_sub = df_sample.loc[:, ['undp_hdi', 'ccodealp', 'ht_region', 'gle_cgdpc', 'imf_pop', 'wef_imort', 'who_alc2000', 'who_tobt', 'wdi_exph']]
df_sub['ht_region'] = df_sub['ht_region'].replace([1, 2, 3, 4, 5, 6, 7, 8, 9, 10], ['EastEurope', 'LatAm', 'NorthAfrica', 'SubSaharian', 'WesternDem', 'EastAsia', 'SouthEastAsia', 'SouthAsia', 'Pacific', 'Caribbean'])
df_sub.head()

,undp_hdi,ccodealp,ht_region,gle_cgdpc,imf_pop,wef_imort,who_alc2000,who_tobt,wdi_exph
64,0.924,DEU,WesternDem,39486.6990,80.983002,3.400000,11.03,30.700001,11.297001
83,0.466,CIV,SubSaharian,1354.2900,22.524000,76.199997,3.15,NaN,5.716274
98,0.719,LBY,NorthAfrica,4102.8398,6.266000,13.200000,0.00,NaN,4.968935
58,0.893,FIN,WesternDem,36958.2110,5.427000,2.400000,8.80,21.799999,9.679909
81,0.898,ISR,NorthAfrica,25926.2500,8.212000,3.300000,2.62,30.400000,7.808308

## Desafío 2. Genere una función que ingrese su objeto y devuelva:

In [34]:
medidas_descriptivas = ()
for column, serie in df_sub.iteritems():
    if serie.dtype == 'float64':
        # columna es continua, calcula medidas descriptivas
        medidas_descriptivas[column] = serie.describe()
    else:
        # columna es discreta, calcula frecuencia
        print(serie.value_counts())
        
medidas_descriptivas

TypeError: list indices must be integers or slices, not str